body{
	background: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: green;
    margin-top: 0;
    margin-bottom: 1rem;
	background-image: url(images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
	background-image:
			url(images/cloud.png),
			url(images/cloud.png);
	background-size: 90px, 90px;
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right center;
	display: inline-block;
	padding-left: 100px;
	padding-right: 100px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: tomato;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1rem;
}

p{
    text-shadow: 1px 1px lightgreen;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}

footer{
    background-color: wheat;
    border-color: thistle;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
}

.sidebar{
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    border-color: brown;
    border-style: solid;
}

ul{
    list-style: none;
    padding: 0;
}

.intro{
    background-color: yellowgreen;
    border-radius: 10px;
    border-color: limegreen;
    border-style: solid;
}

.main-supporting{
    background-color: tan;
    border-radius: 10px;
    border-color: goldenrod;
    border-style: solid;
}

a{
    color: purple;
}

a:hover{
    color: violet;
	background-color: orangered;
}

.design-name{
    color: tomato;
    font-size: 2rem;
    text-transform: uppercase;

}

.designer-name{
    color: cornflowerblue;
    font-size: 1rem;
    text-transform: capitalize;
}

.design-selection{
    color: #333;
    font-size: 1.5rem;
}

a {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: right center;
}

a.zen-validate-html {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/html.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	padding-left: 50px;
	padding-right: 50px;
}

a.zen-validate-css {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/css.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	padding-left: 50px;
	padding-right: 50px;
}

a.zen-license {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/creative.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	padding-left: 50px;
	padding-right: 50px;
}

a.zen-accessibility {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/accessibility.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	padding-left: 50px;
	padding-right: 50px;
}

a.zen-github {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/github.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.summary > a {
    display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-image: url(images/file-download.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;

	padding-right: 50px;
}

footer > a {
	display: block;
	border: 1px solid;
	flex: 1;
	height: 200px;
	margin: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.392);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	text-decoration: none;
}

.css-gen-garden > a {
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0.5em;
	border: 3px solid orange;
	border-radius: 0.5em;
	color: #ffffff;
	text-decoration: none;
	background-color: gold;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(images/file-download.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}

footer {
	display: flex;
	justify-content: space-around;
}

.design-selection ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	padding: 10px;
	font-size: 36px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
}

.design-selection ul > li > a {
	font-size: 1rem;
	text-decoration: none;
	margin-bottom: 1em;
	height: 3em;
}

.design-selection ul > li > a.design-name {
	font-size: 1rem;
	text-decoration: none;
	margin-bottom: 1em;
	height: 3em;
}

.design-selection ul > li > a.designer-name {
	font-size: 1rem;
	text-decoration: none;
	margin-bottom: 1em;
	height: 3em;
}

.design-selection ul > li > a:last-child {
	align-self: flex-end;
	margin-top: 1em;
	margin-bottom: 0;
}

.zen-resources {
	display: flex;
	flex-direction: column;
	border: 1px solid;
}

.zen-resources h3 {
	margin: 0;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	background-color: #000;
	color: #fff;
}

.zen-resources ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
}

.zen-resources a {
	text-decoration: none;
	padding: 0.25em 1em;
    display: block;
}

.page-wrapper {
	display: grid;
	grid-template-areas: "h h h"
	                     "m m s"
						"f f f";
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.intro {
	grid-area: h;
}

.main-supporting {
	grid-area: m;
}

.side-bar {
	grid-area: s;
}

.footer {
	grid-area: f;
}

@media (max-width: 1000px) {
    body{
         background-color: darkcyan;
    }
	.page-wrapper {
		grid-template-areas: "h h h"
		                     "s s s"
	                        "m m m"
							"f f f";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
	}
}

.explanation{
	background-image: url(images/trees.png);
	background-position: center bottom -20px;
	padding-bottom: 40px;
	background-size: 50%;
	background-repeat: no-repeat;
}